<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Text on Canvas</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=<%- font %>&display=swap" rel="stylesheet">
	<style>
		#render {
			margin: 20px 80px;
			height: <%= dimension %>px;
			width: <%= dimension %>px;
			font-weight: normal;
			font-family: '<%- font %>';
			font-style: italic;
			font-weight: bold;
			font-size: <%= fontSize %>px;
			color: <%= light ? 'black' : 'white' %>;
			display: flex;
			background: radial-gradient(<%- colour %> 0%, <%- light ? 'white' : 'black' %> 400%);
		}

		#text {
			margin: auto;
		}
	</style>
</head>
<body>
	<h1 style='font-family: "<%- font %>";'>Hi there!</h1>
	<div id='render'>
		<div id='text'>
			<%- text %>
		</div>
	</div>
</body>
</html>